POSTGRES_USER=wgstudio
POSTGRES_PASSWORD=wgstudio
POSTGRES_DB=wg_studio
POSTGRES_AUDIT_DB=wg_studio_audit

DATABASE_URL=postgresql+psycopg://wgstudio:wgstudio@postgres:5432/wg_studio
LOG_DATABASE_URL=postgresql+psycopg://wgstudio:wgstudio@postgres:5432/wg_studio_audit

ARTIFACT_ROOT=/wg/config
WG_STUDIO_API_URL=http://wg-studio-api:8000
WG_CONTAINER_NAME=wg-studio-wireguard
WG_INTERFACE_NAME=wg0
WG_CONTAINER_CONFIG_PATH=/config/wg_confs/wg0.conf

WG_SERVER_ENDPOINT=<Your Public IP>
WG_SERVER_LISTEN_PORT=51820
WG_SERVER_ADDRESS=10.255.255.1/32
WG_SERVER_DNS=1.1.1.1

WG_BOOTSTRAP_ADMIN_USERNAME=admin
WG_BOOTSTRAP_ADMIN_PASSWORD=<Change Me>
WG_JWT_SECRET_KEY=<Change Me Too>
WG_JWT_ACCESS_TOKEN_TTL_MINUTES=15
WG_JWT_REFRESH_TOKEN_TTL_DAYS=30

TZ=Asia/Tokyo
